<div>
  <div class="main">
    <div class="div-logo">
      <img src="../assets/tasks.jpg" alt="dry fruits" class="logo" />
    </div>

    <h1 class="heading">To do List</h1>

    <input
      type="text"
      #toDoValue
      placeholder="add a new task"
      class="input"
      (keyup.enter)="addTask(toDoValue.value)"
    />

    <button class="add-btn" (click)="addTask(toDoValue.value)">
      Add a task to do
    </button>
    <div>
      <ul>
        <li *ngFor="let task of list">
          <div>
            <input type="checkbox" />
            {{ task.toDoValue }}
            <button class="delete-btn" (click)="deleteTask(task.toDoValue)">
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
